@using ATTMS.Dashboard.Resources
@using Models
@model List<SP_JobTitle_List_Select_Result>

@if (Model != null && Model.Count > 0)
{
    <select class="form-control m-b" name="job_title_Id" id="job_title_Id">
        <option value="-1">@Resource.Select_a_Job_Title</option>
        @foreach (var job in Model)
        {
            <option value="@job.Id">@job.title</option>
        }
    </select>
}
else
{
    <p>@Resource.No_Job_Titles_Found</p>
}

