@using ATTMS.Dashboard.Resources
@using Models
@model List<SP_Free_Users_Select_Result>




@if (Model != null && Model.Count > 0)
{
    <select class="form-control m-b" name="ddl_user_Id" id="user_Id">
        <option value="">@Resource.Select_an_User</option>
        @foreach (var user in Model)
        {
            <option value="@user.Id">@user.Name</option>
        }
    </select>
}
else
{
    <p>@Resource.No_Users_Found</p>
} 
