@using OTS.DAL;
@model int
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat green">
        <div class="visual">
            <i class="fa fa-shopping-cart"></i>
        </div>
        <div class="details">
            <div class="number">
                @Model
            </div>
            <div class="desc">
                Delivered Tasks
            </div>
        </div>
        <a class="more" href="@Url.Action("Delivered","Tasks")">
            View more <i class="m-icon-swapright m-icon-white"></i>
        </a>
    </div>
</div>