@model int
<div>
    <button type="button" onclick="cancel_meetingroom_delete()" class="btn btn-default" data-dismiss="modal">No</button>
    <button type="button" onclick="confirm_delete_meetingroom(@Model)" id="delete_btn" data-dismiss="modal" class="btn btn-primary">Yes</button>
</div>
