@model int?
<div>
    <button type="button" onclick="cancel_canecllation_reservation()" class="btn btn-default" data-dismiss="modal">No</button>
    <button type="button" onclick="confirm_cancel_resevation(@Model)" id="delete_btn" data-dismiss="modal" class="btn btn-primary">Yes</button>
</div>

