@using ATTMS.Dashboard.Resources
<footer class="footer">
    <span class="pull-right">
        @Resource.NOKS_ARE_by <a href="http://www.noktechnology.com">@Resource.NokTechnology_Egypt</a>
    </span>
    @Resource.Copyright_2015-@DateTime.Now.Year
</footer>
