<div class="col-md-3">
    <div class="hpanel">
        <div class="panel-body">
            <div class="text-center">
                <h2 class="m-b-xs">Box title</h2>
                <p class="font-bold text-success">Lorem ipsum</p>
                <div class="m">
                    <i class="pe-7s-science fa-5x"></i>
                </div>
                <p class="small">
                    Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
                <button class="btn btn-success btn-sm">Action button</button>
            </div>
        </div>
    </div>
</div>
