@using ATTMS.Dashboard.Resources
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = @Resource.Error;
}

<h1 class="text-danger">@Resource.Error.</h1>
<h2 class="text-danger">@Resource.An_error_occurred</h2>

