@using ATTMS.Dashboard.Resources
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = @Resource.Locked_out;
}

<hgroup>
    <h1 class="text-danger">@Resource.Locked_out</h1>
    <h2 class="text-danger">@Resource.account_Locked_Out_Message</h2>
</hgroup>
