<footer class="footer">
    <span class="pull-right">
        NOKS-Meeting Rooms Management System by <a href="http://www.noktechnology.com">NokTechnology Egypt</a>
    </span>
    Copyright 2015-@DateTime.Now.Year
</footer>
