
<div class="alert alert-block alert-info fade in">
    <h4 class="alert-heading">No Data Found!</h4>
    <p>
        No Data Found, Do you want to add New User or Reset Search filter configurations
    </p>
    <p>
        <a class="btn purple" href="#create_view_modal" data-toggle="modal">
            Add New
        </a>
        <a class="btn dark" href="#" onclick="ResetFilter()">
            Reset Filter
        </a>
    </p>
</div>
