@using OTS.DAL
@{
    OTSEntities db = new OTSEntities();
    List<Task_Status_List_Result> list = db.Task_Status_List().ToList();
}
<select id="Task_Status_List" class="table-group-action-input form-control input-inline input-small input-sm">
    @if (list != null && list.Count > 0)
    {
        <option value="-1">Please Select a Status</option>
        foreach (var status in list)
        {
            <option value="@status.ID">@status.Title</option>
        }
    }
    else
    {
        <option value="-1">No Status Found !</option>
    }
</select>

