
<div class="alert alert-block alert-info fade in">
    <h4 class="alert-heading">Info!</h4>
    <p>
        No Users Found, Do you want to add New User or Reset Search filter configurations
    </p>
    <p>
        <a class="btn purple" href="#">
            Add New
        </a>
        <a class="btn dark" href="#">
            Reset Filter
        </a>
    </p>
</div>